<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon"
        href="https://www.kindpng.com/picc/m/114-1146026_transparent-barcode-clipart-scan-qr-code-icon-png.png"
        type="image/x-icon">
</head>

<body>

</body>

</html>

<style>
    body {
        font-size: 20px;
        font-family: Ubuntu, sans-serif;
        margin: 0;
        padding: 0;
    }

    .image {
        margin-top: 20px;
        margin-left: 40%;
    }
</style>

<body>
    <a href="/"><button type="button" style="margin: 10px;" class="btn btn-secondary">Back</button></a>
    <h4 class="text-center">Scan the QR Code</h4>
    <div class="image">
        <img src="<%=src%>" alt="QR" height="300px" width="300px">
    </div>
</body>

</html>